/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*登录界面样式开始*/
.logo {
    margin: 80px auto;
    text-align: center;
}

.logo-pic {
    width: 90px;
    height: 90px;
}

.login {
    width: 82%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.login-info {
    border-bottom: solid 0.5px;
    border-bottom-color: #c0c0c0;
    margin-bottom: 25px;
    position: relative;
}

.login-icon {
    width: 18px;
}

.width-100 {
    width: 100px;
}

.login-input {
    border: none;
    height: 25px;
    padding-left: 5px;
}

.login-type, .forget-pwd-text {
    font-size: 10px;
    color: #929292;
}

.login-identity {
    position: absolute;
    right: 0;
}

.forget-pwd {
    position: absolute;
    right: 0;
}

.septal-line {
    color: #787878;
}

.selected-item {
    color: #94B40F;
}

.login-btn {
    width: 100%;
    color: #ffffff;
    background-color: #9ABC0B;
    margin-top: 65px;
    /*letter-spacing: 15px;*/
    border-radius: 0px;
}

.login-text {
    letter-spacing: 15px;
}

.logo-svg {
    width: 90px;
    height: 30px;
    vertical-align: middle;
}

.vertical-sub {
    vertical-align: sub;
}

.pd-r3 {
    padding-right: 3px;
}

.pd-l3 {
    padding-left: 3px;
}

.pd-r0 {
    padding-right: 0px;
}

/*登录界面样式结束*/

/*推荐视频界面样式开始*/

/*头部开始*/
.header {
    padding: 10px 15px;
    color:  #9ABC0B;
    background-color: #FFFFFF;
    font-size: 16px;
}

.header-logo {
    font-size: 19px;
}

/*头部结束*/

/*视频播放器开始*/
.video-play {
    width: 100%;
    height: 180px;
}

.recommend-bg {
    background-color: #ECECEC;
}

.video-description {
    position: relative;
    padding: 10px;
    background-color: #FFFFFF;
    overflow: visible;
}

.left-part {
    position: relative;
    left: 5px;
    width: 70%;
    border-right: solid 1px #E0E0E0;
}

.pos-relative {
    position: relative;
}

.video-title {
    font-size: 18px;
    padding-bottom: 5px;
}

.video-detail, .share, .collect {
    font-size: 10px;
    color: #3D3D3D;
}

.display-inline {
    display: inline-block;
}

.right-part {
    text-align: center;
}

.pd-left20 {
    padding-left: 20px;
}

.pd-right15 {
    padding-right: 15px;
}

.pd-left10 {
    padding-left: 10px;
}

.pd-right10 {
    padding-right: 10px;
}

.pd-left5 {
    padding-left: 5px;
}

.pd-right5 {
    padding-right: 5px;
}

.pd-left15 {
    padding-left: 15px;
}

.icon-25 {
    width: 25px;
    height: 25px;
}

/*视频播放器结束*/

/*视频推荐列表开始*/
.video-lists {
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 15px;
}

.list-header {
    font-size: 15px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #DFDFDF;
}

.item-icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.video-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.list {
    clear: both;
    overflow: auto;
    width: 100%;
}

.video-item:nth-child(2n+1) {
    float: left;
    width: 46%;
    clear: both;
}

.video-item:nth-child(2n) {
    float: right;
    width: 46%;
}

.video-pic {
    width: 100%;
    height: 90px;
}

.video-text {
    font-size: 12px;
    color: #717171;
    padding: 10px 0;
}

/*视频推荐列表结束*/

/*推荐视频界面样式结束*/

/*在线案例界面样式开始*/
.case-items {
    background-color: #ECECEC;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    color: #4D4D4D;
    overflow: hidden;
}

.less-case-items {
    border-right: 3px solid #D8D7D7;
    width: 90%;
}

.less-case {
    position: relative;
}

.add-icon {
    position: absolute;
    right: 5px;
    line-height: 40px;
}

.more-case-items {
    height: auto;
    overflow: visible;
    position: relative;
}

.case-item {
    padding: 5px 10px;
    font-size: 16px;

}

.selected-case-item {
    border-bottom: 3px solid #8EAE00;
}

.case-lists {
    width: 90%;
    margin: 0 auto;
    padding: 12px 0;
}

.add-case {
    background-color: #FFFFFF;
    margin: 0 auto;
}

.pack-up {
    position: absolute;
    right: 10px;
}

.list {
    color: #1B1B1B;
    padding: 10px 0;
    font-size: 12px;
}

.case-title{
    font-size: 18px;
    padding-left: 5px;
    vertical-align: middle;
}

/*在线案例界面样式结束*/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
